.title{
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_bar{
    max-width: 60%;
    padding-left: 0;
}

.category{
    max-width: 20%;
    height: 35px; 
    text-transform: capitalize;
}
.category_list{
    text-transform: capitalize;
}
