.list{
    display: flex !important;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.col_tr, .col_en{
    text-transform: capitalize;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    column-gap: 20px;
    row-gap: 5px;
}

.wraper{
    /* margin-top: 50px; */
    --ion-background-color: #fff;
}

.button_container{
    display: flex;
    column-gap: 10px;
    height: min-content;
}
.col_en{
    max-width: 200px;
    width: 100%;
}
.fab{
     position: relative; 
     right: 5px;
    /* bottom: 7px; */
    
}
.button-native{
    box-shadow: none !important;
}
ion-fab-button::part(native) {
    background-color: transparent;
    /* border-radius: 15px;  */
    box-shadow: none;
  }
  

.fab_btn{
    margin: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    
}
.fab_list{
    align-items: baseline;
}
.item-inner{
padding-right: 5px;
}
